.hello {
    text-align: center;
    padding: 10px;
}

ul.animal-list {
    margin: 0; padding: 0;
    list-style: none;
    text-align: center;
    background-color: #484343;
}

.animal-item {
    width: 100px;
    display: inline-block;
}

.animal-item img {
    width: 100%;
}