textarea {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    /* margin: 0 auto;  */
    margin: 0 100px;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    vertical-align: middle;
}

.sceneHeading {
    text-transform: uppercase;
    background-color: lightgray;
    display: inline;
    margin-left: 45px;
    
}

.character {
    text-transform: uppercase;
    position: center;
    text-align: center;
}

.parenthetical {
    position: center;
    text-align: center;
}

.dialogue {
    position: relative;
    left: 10%;
    max-width: 65%;
}

.sceneNumber {
    vertical-align: middle;
    display: inline;
    margin-left: 25px; 
}