textarea {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    /* margin: 0 auto;  */
    margin: 0 100px;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
}

.sceneHeading {
    text-transform: uppercase;
    background-color: lightgray;
    display: inline;
    margin-left: 45px;
}

.transition {
    text-transform: uppercase;
}

.character {
    text-transform: uppercase;
    position: center;
    text-align: center;
    font-size: 16px;
    padding: 0;
}

.parenthetical {
    position: center;
    text-align: center;
    padding: 0px;
}

.dialogue {
    position: relative;
    left: 15%;
    max-width: 55%;
}

.sceneNumber {
    vertical-align: middle;
    display: inline;
    margin-left: 25px; 
}

 /* .tooltip {
    position: relative;
}  */

.tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    font-size: 12px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    left: 80%;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}