div.scriptBox {
    margin: 0 0 0 calc(20% - 12%);
}

textarea {
    display: flex;
    flex-wrap: wrap;
    width: 80%; height: auto;
    margin: 5px 100px; padding: 5px 10px;
    border: none; outline: none;
    vertical-align: middle;
    resize: none;
    overflow: hidden;
    font-size: 18px;
}

 .sceneHeading {
    text-transform: uppercase;
    background-color: lightgray;
    /* display: inline; */
    max-width: 70%;
    font-weight: bold;
} 

.transition {
    text-transform: uppercase;
   max-width: 70%;

}

.character {
    text-transform: uppercase;
    position: center;
    text-align: center;
    font-size: 16px;
    margin: 2% 5% 0 5%; padding: 0;
    font-weight: bold;
}

.parenthetical {
    position: center;
    text-align: center;
    margin: 0 5% 0 5%; padding: 0px;
}

.dialogue {
    position: relative;
    left: 12%;
    max-width: 48%;
    margin-bottom: 1em;
}

/* .sceneNumber {
    vertical-align: middle;
    display: inline;
    margin-left: 0px;
} */

.action {
   max-width: 70%;
}

.text {
   max-width: 70%;
}

.shot {
   max-width: 70%;
}

.tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: rgba(247, 247, 247, 0.5);
    color: gray;
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;
    font-size: 12px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    left: 80%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    margin-left: 25px;
}

img.userFace {
    max-width: 3%;
    max-height: 3%;
}