.screenplays-header {
    text-align: center;
    margin: 0; padding: 0;
}

.list-of-screenplays {
    padding: 10%
}

.input-container {
    display: ruby;
}

button.submit {
    display: inline;
}

.title {
    margin: 0 100px;
    padding: 20px;
    text-align: center;
    width: 80%;
    font-size: 25px;
}

.writers {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
}

.scriptBox {
    padding-top: 120px;
}