.screenplays-header {
    text-align: center;
    margin: 0; padding: 0;
}

.list-of-screenplays {
    padding: 10%
}

.input-container {
    display: ruby;
}

button.submit {
    display: inline;
}

.title {
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    text-align: center;
    width: 80%;
    font-size: 25px;
}

.writers {
    text-align: center;
    font-size: 16px;
    padding-bottom: 30px;
    margin-right: 5%;
}

.scriptBox {
    padding-top: 120px;
}