.sceneHeading {
  text-transform: uppercase;
}

.character {
  text-transform: uppercase;
  position: relative;
  left: 45%;
}

.parenthetical {
  position: relative;
  left: 45%;
}

.dialogue {
  position: relative;
  left: 20%;
}