textarea {
  resize: none;
  position: relative;
  left: 5%;
  border: dotted;
  outline: none;
  width: 90%;
  overflow: hidden;
  height: auto;
}

.sceneHeading {
  text-transform: uppercase;
}

.character {
  text-transform: uppercase;
  position: relative;
  left: 45%;
}

.parenthetical {
  position: relative;
  left: 45%;
}

.dialogue {
  position: relative;
  left: 20%;
}