.about {
    display: flex;
    margin-left: 20%;
    align-self: right;
    flex-wrap: wrap;
    max-width: 30%;
    justify-content: flex-end;
}

/*img.about-img {*/
    /*display: flex;*/
    /*align-self: left;*/
    /*max-width: 50%;*/
/*}*/
img.carousel-image {
    max-height: 950px;
}
