nav.button-container {
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-family: Roboto, Helvetica, sans-serif;
    display: flex;
    overflow: hidden;
    /* margin: 2px; */
    padding: 4px 4px;
    cursor: pointer;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: capitalize;

    border: 0 none;
    border-radius: 2px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;

    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    flex-direction: column;

    box-shadow: 2px 3px 6px #e4e4e4;
}

.regular {
    color: #202129;
    background-color: #f2f2f2;
}

.regular:hover {
  color: #202129;
  background-color: #e1e2e2;
  opacity: 1;
}

.regular:active {
     background-color: #d5d6d6;
     opacity: 1;
 }

.dark {
    color: #FFFFFF;
    background: #161616;
}

.dark:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
}

.green {
    color: #FFFFFF;
    background: #3dd28d;
}

.blue {
    color: #FFFFFF;
    background: #416dea;
}

.salmon {
    color: #FFFFFF;
    background: #F32C52;
}

.sun {
    color: #f15c5c;
    background: #feee7d;
}

.algae {
    color: #e7ff20;
    background: #7999a9;
}

.flower {
    color: #FE8CDF;
    background: #353866;
}

.title {
    text-align: center;
}